body {
  overflow-y: hidden;
}

.tr {
  padding: 1em 1.9em 1em 1em;
  border-radius: .8em;
  position: relative;
  width: 90%;
  height: 80px;
  display: flex;
  align-items: center;
  margin: 1em 0;
  background-color: blanchedalmond;
}